<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".DiagnosticsCrashProbeActivity" android:exported="false" android:process=":diagnostic_probe" />
        <service android:name=".OfflineSyncTestService" android:exported="false" android:foregroundServiceType="dataSync" />
        <activity android:name=".DemoActivity" android:exported="false" />
        <activity android:name=".SkinTestActivity" android:exported="false" />
        <activity android:name=".AuthTestActivity" android:exported="false" />
        <activity android:name=".OnlineTestActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
